---
import { TestimonialCard, ExperienceCard } from "@components/index"

import { LittleMissRobot, Mafoulit, MyGoto } from "@assets/images/index"

interface Props {
	class?: string
}

const { class: className } = Astro.props
---

<section id="playground-cards" class:list={["playground-cards", className]}>
	<div class="playground-cards__testimonial-cards">
		<TestimonialCard
			title="Working with Bram was a great experience!"
			text="He was very creative, attentive, and professional - and as our project together came to and end, he delivered above and beyond what was expected of him and made sure that I got a great collection of all of the work that he and his team had been working on in a super hand-off, which will enable me to make use of it in the future (which I am sure that I will). I can warmly recommend hiring Bram to be a part of your team."
			author="Niels Bjorndahl"
			authorRole="CEO @My Goto"
		/>

		<TestimonialCard
			title="Bram worked with us as a web developer."
			text="We were very satisfied with his work and professional attitude. He can work independently, has good communication and when needed well thought out solutions. His drive to stay on top of the latest developments in the industry and apply this knowledge our work made him a valuable asset. We would highly recommend him, he is a valuable, reliable employee with a positive impact, a good team player who contributes to a fun work environment."
			author="Emmely Foucaert"
			authorRole="CEO @Mafoulit"
		/>
	</div>

	<div class="playground-cards__experience-cards">
		<ExperienceCard
			image={LittleMissRobot}
			companyName="LittleMissRobot"
			employmentPeriod="10 weeks, 2023"
			location="Ghent"
			locationIcon="flag-bel"
			jobTitle="Craft CMS & Frontend Dev - Internship"
			responsibilities={[
				"Transformed designs into optimized an responsive websites using an in house custom Craft CMS setup.",
				"Documented coding conventions and way of working for future interns. Researched new technologies and presented them to the team in a structured presentation. These presentations allow the whole team to stay up te date and discuss how to handle future projects.",
				"Presented a website to a client and went through the CMS manual with them. Answered questions and processed comments in a structured way so they can easily be handled by the team."
			]}
		/>

		<ExperienceCard
			image={MyGoto}
			companyName="LittleMissRobot"
			employmentPeriod="10 weeks, 2023"
			location="Ghent"
			locationIcon="flag-bel"
			jobTitle="Craft CMS & Frontend Dev - Internship"
			responsibilities={[
				"Transformed designs into optimized an responsive websites using an in house custom Craft CMS setup.",
				"Documented coding conventions and way of working for future interns. Researched new technologies and presented them to the team in a structured presentation. These presentations allow the whole team to stay up te date and discuss how to handle future projects.",
				"Presented a website to a client and went through the CMS manual with them. Answered questions and processed comments in a structured way so they can easily be handled by the team."
			]}
		/>

		<ExperienceCard
			image={Mafoulit}
			companyName="LittleMissRobot"
			employmentPeriod="10 weeks, 2023"
			location="Ghent"
			locationIcon="flag-bel"
			jobTitle="Craft CMS & Frontend Dev - Internship"
			responsibilities={[
				"Transformed designs into optimized an responsive websites using an in house custom Craft CMS setup.",
				"Documented coding conventions and way of working for future interns. Researched new technologies and presented them to the team in a structured presentation. These presentations allow the whole team to stay up te date and discuss how to handle future projects.",
				"Presented a website to a client and went through the CMS manual with them. Answered questions and processed comments in a structured way so they can easily be handled by the team."
			]}
		/>
	</div>
</section>

<style is:global lang="scss">
	.playground-cards {
		--playground-bg: var(--scheme-base);

		background-color: var(--playground-bg);

		padding: var(--space-32);
		display: flex;
		flex-direction: column;
		gap: var(--space-160);

		&__testimonial-cards {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: var(--space-32);
		}

		&__experience-cards {
			display: grid;
			grid-template-rows: repeat(3, 1fr);
			row-gap: var(--space-24);
		}
	}
</style>
