---
import { Icon } from "@components/index"

interface Props {
	class?: string
}

const { class: className } = Astro.props
---

<section id="playground-icons" class:list={["playground-icons", className]}>
	<div class="playground-icons__group">
		<Icon name="diagonal-arrow" size={24} />
		<Icon name="send" size={24} />
		<Icon name="open" size={24} />
		<Icon name="download" size={24} />
		<Icon name="text-bubble" size={24} />
		<Icon name="flag-bel" size={24} />
		<Icon name="flag-den" size={24} />
		<Icon name="arrow" size={24} />
	</div>
</section>

<style is:global lang="scss">
	.playground-icons {
		--playground-bg: var(--scheme-base);
		--playground-color: var(--scheme-contrast);

		background-color: var(--playground-bg);
		color: var(--playground-color);

		display: flex;
		flex-direction: column;
		gap: var(--space-16);
		padding: var(--space-32);

		&__group {
			display: flex;
			gap: var(--space-16);
		}
	}
</style>
