---
import { Link, SocialLinks, TechStackList } from "@components/index"

interface Props {
	class?: string
}

const technologies = ["React", "ExpressJS", "SASS", "MongoDB", "Typescript"]

const { class: className } = Astro.props
---

<section id="playground-links" class:list={["playground-links", className]}>
	<div class="playground-links__normal">
		<Link href="#">projects</Link>
		<Link href="#">skills</Link>
		<Link href="#">experience</Link>
		<Link href="#">contact</Link>
		<Link href="#">testimonials</Link>
	</div>

	<div class="playground-links__social">
		<SocialLinks />
		<SocialLinks class="c-social-links--mirrored" />
	</div>

	<div class="playground-links__stack">
		<TechStackList technologies={technologies} />
	</div>
</section>

<style is:global lang="scss">
	.playground-links {
		--playground-bg: var(--scheme-base);

		background-color: var(--playground-bg);

		display: flex;
		flex-direction: column;
		gap: var(--space-32);
		padding: var(--space-32);

		&__normal {
			display: flex;
			gap: var(--space-48);
		}

		&__social {
			display: flex;
			justify-content: space-between;
		}

		&__stack {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}
	}
</style>
