---
import { socials } from "@config/global/socials"
import { navigation } from "@config/global/navigation"
import { Title, Navigation } from "@components/index"

interface Props {
	class?: string
}

const { class: className } = Astro.props
---

<section
	id="playground-navigation"
	class:list={["playground-navigation", className]}
>
	<Title text="Navigation" Tag="h4" />

	<div class="playground-navigation__content">
		<Navigation navLinks={navigation.links} socialLinks={socials.links} />
	</div>
</section>

<style is:global lang="scss">
	.playground-navigation {
		--playground-bg: var(--scheme-base);
		--playground-border: var(--scheme-accent);

		background-color: var(--playground-bg);
		border: 1px solid var(--playground-border);

		display: flex;
		flex-direction: column;
		gap: var(--space-16);
		margin: var(--space-24);
		padding: var(--space-16) var(--space-24) var(--space-24);

		&__content {
			display: flex;
			flex-direction: column;
			gap: var(--space-16);
		}
	}
</style>
