// =============================================================================
// Scale Variable (variable)
// =============================================================================
@import url("https://use.typekit.net/tby0uoh.css");

// =============================================================================
// Helvetica font regular 100 - 500 & 700 - 900
// =============================================================================
@font-face {
	font-family: "Helvetica";
	font-weight: 100;
	font-style: normal;
	src: url("../assets/fonts/HelveticaNeueUltraLight.otf") format("opentype");
}

@font-face {
	font-family: "Helvetica";
	font-weight: 200;
	font-style: normal;
	src: url("../assets/fonts/HelveticaNeueThin.otf") format("opentype");
}

@font-face {
	font-family: "Helvetica";
	font-weight: 300;
	font-style: normal;
	src: url("../assets/fonts/HelveticaNeueLight.otf") format("opentype");
}

@font-face {
	font-family: "Helvetica";
	font-weight: 400;
	font-style: normal;
	src: url("../assets/fonts/HelveticaNeueRoman.otf") format("opentype");
}

@font-face {
	font-family: "Helvetica";
	font-weight: 500;
	font-style: normal;
	src: url("../assets/fonts/HelveticaNeueMedium.otf") format("opentype");
}

@font-face {
	font-family: "Helvetica";
	font-weight: 700;
	font-style: normal;
	src: url("../assets/fonts/HelveticaNeueBold.otf") format("opentype");
}

@font-face {
	font-family: "Helvetica";
	font-weight: 800;
	font-style: normal;
	src: url("../assets/fonts/HelveticaNeueHeavy.otf") format("opentype");
}

@font-face {
	font-family: "Helvetica";
	font-weight: 900;
	font-style: normal;
	src: url("../assets/fonts/HelveticaNeueBlack.otf") format("opentype");
}
