---
import { Icon, Text } from "@components/index"

interface Props {
	href: string
	label?: string
	class?: string
}

const { class: className, label, href } = Astro.props
---

<a href={href} class:list={["c-social-link", className]}>
	<Icon name="open" size={16} />

	{label && <Text class="typo-h3 typo-uppercase" text={label} />}
</a>

<style is:global lang="scss">
	.c-social-link {
		--social-link-color: var(--scheme-contrast);

		color: var(--social-link-color);

		display: flex;
		align-items: center;
		gap: var(--space-16);

		& > .c-text {
			margin-top: var(--space-4);
		}
	}
</style>
